NdlDir=$ExpDir$/ndl
DeviceNumber=$DeviceNumber$
command=TrainLSTM
stderr=$ExpDir$/log/$logFile$
Truncated=true
precision=float

TrainLSTM=[
    action=trainRNN
    modelPath=$ExpDir$/$modelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$
    traceLevel=1
    useValidation=true
    NDLNetworkBuilder=[
        networkDescription=$ndlfile$
    ]


    SGD=[
        epochSize=0         
        minibatchSize=80
        #learningRatesPerMB=0.1:1
        learningRatesPerSample=0.0003
        L2RegWeight=0.00001
        momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=$maxEpochs$
        numMBsToShowResult=100

        #settings for Auto Adjust Learning Rate
        AutoAdjust=[
            reduceLearnRateIfImproveLessThan=0
            loadBestModel=true
            increaseLearnRateIfImproveMoreThan=1000000000
            learnRateDecreaseFactor=0.5
            autoAdjustLR=AdjustAfterEpoch
            learnRateAdjustInterval=1
            #useEvalCriterionControlLR=true
        ]

        gradientClippingWithTruncation=true
        clippingThresholdPerSample=0.01

    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      CSCTruncated=true
      leftContext=0
      getPast=true
      rightContext=21
      nbruttsineachrecurrentiter=$uttNum$
      miniBatchMode=Partial
      randomize=43200000
      verbosity=1   
      features=[
    	dim=$featDim$
        scpFile=$inputCounts$
	rx=$inputFeats$
        featureTransform=$featureTransform$
      ]

      labels=[
     	mlfFile=$inputLabels$
        labelDim=$labelDim$
	labelMappingFile=$labelMapping$
      ]
    ]
    cvReader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=13200000
      Truncated=true
       CSCTruncated=true
      leftContext=0
      getPast=true
      rightContext=21
     nbruttsineachrecurrentiter=$uttNum$

      verbosity=0
      features=[
    	dim=$featDim$
	scpFile=$cvInputCounts$
	rx=$cvInputFeats$
        featureTransform=$featureTransform$
      ]

      labels=[
     	mlfFile=$cvInputLabels$
        labelDim=$labelDim$

    	labelMappingFile=$labelMapping$
      ]
    ]
]
